/*body {
    background-color: black;
}
*/
#page {
    width:600px;
    border: green;
    padding: 30px;
    margin: auto;
}

h1 {
    text-align: center;
    color:crimson;
}

h2 {
    text-align: left;
    color:crimson;
}

h3 {
    text-align: left;
    color:crimson;
}

h4 {
    text-align: left;
    font-style: italic;
    color: rgb(214, 95, 115);
}

ul {
    text-align: left;
    color:rgb(214, 95, 115);
}

p {
    text-align: left;
    color:rgb(214, 95, 115);
}



